*{
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: black;
    background-color: #ffffff;
}

.name {
    font-size: 24px;
}

.button1{
    border: none;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.1s ease;
}

.nav a:hover,
.button1:hover {
    color: rgb(255, 68, 0);
    cursor: pointer;
}

.head{
    font-weight: bold;
    font-size: 25px;
}

.intro1{
    margin-top: 80px;
    border-left: 5px solid rgb(255, 68, 0);
    margin-left: 50px;    
}

.About{
margin-left: 60px;
}

.About1{
    margin-top: 80px;
    border-left: 5px solid rgb(255, 68, 0);
    margin-left: 50px;
}

.checklist {
    display: flex;
    align-items: center;
}

.tick-mark {
    color: rgb(255, 68, 0);
    font-size: 20px;
    margin-right: 10px;
}

.points {
    font-size: 20px;
}

.education{
     width: 300px;
     margin-left: 50px;
     margin-top: 190px;
}

.side{
    display: flex;
    margin-top: 0px;
}

.portfolio{
    margin-top: 60px;
}

.porthead{
    display: inline-block;
    border-bottom: 5px solid rgb(255, 68, 0);
}

.skill-text{
    color: black; 
    text-align: center;
}

.icons {
    width: auto;
    height: 70px;
    margin-top: 10px;
}

.skillcontainer {
    display: flex;
    flex-wrap: wrap;
}

.container{
    height: auto;
    width: fit-content;
}

#message,
input[type="email"],
input[type="text"] {
    border: 2px solid black;
    border-radius: 6px;
    padding: 15px 20px;
    position: relative;
    left: 13px;
}

input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
#message:focus::placeholder {
    transform: translateY(-13px);
    transition: transform 0.3s ease-out;
    opacity: 0.6;
    font-size: 10px;
}

.fcontainer{
    background-color: rgb(255, 240, 232);
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.two{
    text-align: center;
    width:150px;
    padding: 8px 3px;
    position: relative;
    left: 13px;
    background-color: rgb(255, 68, 0);
    color: white;
    border:0px;
    border-radius: 17px;
 }

 .two:hover{
    opacity: 0.7;
    cursor: pointer;
 }

 html{
    scroll-behavior: smooth;
 }

 .typeanim{
    margin-top: 10px;
    margin-left: 40px;
    width: fit-content;
 }

 .typeanim p {
    overflow: hidden;
    border-right: 2px solid rgb(255, 68, 0);
    white-space: nowrap;
    margin: 0;
    font-size: 20px;
    animation: typing 5s steps(50) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.intro{
    display: flex;
}

.pcont2{
    padding: 70px 70px 70px 170px;
}


@keyframes blink{
    0%{
        background-color: rgb(244, 176, 151);
    }
    50%{
        background-color: rgb(255, 68, 0);
    }
    100%{
        background-color: rgb(244, 176, 151);
    }
}
    
.button{

    border-radius: 10px;
    padding: 8px;
    background-color: rgb(255, 68, 0);
    color: white;
    border: none;
    animation: blink 1300ms infinite;
}

@keyframes blink1{
    0%{
        box-shadow: rgba(255, 68, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
    50%{
        box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    }
    100%{
        box-shadow: rgba(255, 68, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
}

.skill {
    height: 150px;
    width: 150px;
    box-shadow: rgba(255, 68, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white;
    margin: 40px 80px 40px 80px;
    animation: blink1 1300ms infinite;
}

.skill:hover{
        box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57)!important;
        transition: all 0.3s ease 0s;
        cursor: pointer;
}

.profile{
    height: 250px;
    width: auto;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    box-shadow: rgba(255, 68, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    animation: blink1 1300ms infinite;
}
 
.profile:hover{
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57)!important;
    transition: all 0.3s ease 0s;
}

.button{
    cursor: pointer;
}

#footer {
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align: center;
    height: 100px;
    margin-top: 25px;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 0px;
  }
  
  #social-links {
    margin-bottom: 20px;
  }
  
  #social-links a {
    margin: 0 5px;
    font-size: 24px;
    color: #fff;
    transition: color 0.05s ease; 
  }
  
  #footer-text {
    margin: 0;
    font-size: 14px;
  }
  
    #social-links a:hover {
      color: rgb(255, 68, 0);
    }